body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

button{
    font-size: 1.5rem;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: hsl(187, 100%, 27%);
    color: white;
}

button:hover{
    background-color: hsl(187, 100%, 35%);   
}