body{
    text-align: center;
    font-size: 1.5rem;
}

button, input{
    font-size: inherit;
    padding: 5px 10px;
    border-radius: 5px;
}

button{
    margin-top: 20px;
    background-color: hsl(240, 100%, 67%);
    color: white;
}

button:hover {
    opacity: 0.9;
}