*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    text-align: center;
}

nav{
    border: 2px solid black;
    margin: 2rem auto 1rem;
    width: 600px;
    border-radius: 2em;
    font-size: 5rem;
}

h1{
    background-color: gold;
    border-radius: 2em 2em 0 0;
    font-size: 5rem;
}

ul{
    list-style: none;
}
li a{
    text-decoration: none;
    background-color: cyan;
    display: block;
}
li:last-child a{
    border-radius: 0 0 2em 2em;
} 

li{
    border: 1px solid black;
    line-height: 7rem;
}

li:last-child{
    border-radius: 0 0 2em 2em;
}

li a:hover {
    background-color: blue;
}
