body {
    font-size: 2rem;
    padding: 5%;
    font-family: sans-serif;
}

a{
    color: hsl(210, 91%, 46%);
    text-decoration: none;
    cursor: pointer;
}
a:visited{
    color: orange;
}
a:hover, a:focus {
    /* color: hsl(194, 91%, 46%); */
    opacity: 0.5;
}

a:active{
    color: black;
}
a:focus{
    
}

